.game {
  background-color: #394264;
  border-radius: 4px;
  margin: 2rem auto 0;
  max-width: 380px;
}

.game__instructions {
  background-color: #cc324b;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  padding: 1em;
}

.game__input {
  font-size: 2em;
  margin: 0.8em auto;
  padding: 0.2em;
  text-align: center;
  max-width: 300px;
}

.game__button {
  display: inline-block;
  font-size: 2rem;
  padding: 0.2em;
  transition: background 1s ease-in-out;
  width: 300px;
}

.game__status {
  color: #c7cdd8;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.game__status-count {
  color: #f39c12;
  font-size: 1.5em;
  font-weight: 700;
}

.game__guesses {
  background-color: #11a8ab;
  border-radius: 0 0 4px 4px;
  min-height: 80px;
  padding: 0.5em;
}

.game__guesses li {
  background-color: #1a4e95;
  border-radius: 4px;
  display: inline-block;
  margin: 0.2em;
  padding: 0.3em;
}